* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(253,29,158,1) 30%, rgba(255,98,0,1) 69%, rgba(252,176,69,1) 89%, rgba(8,204,186,1) 100%, rgba(29,253,248,1) 100%, rgba(29,253,248,1) 167%);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 70%;
    background-color: orange;
    margin: 0 auto;
    padding: 25px;
}

img {
    width: 100px;
    border: 3px solid black;
    border-radius: 100%;
    float: left;
}

.header-bio {
    float: left;
    padding: 60px;
}

.header-contact {
    float: right;
    clear: right;
    padding: 60px;
}

button {
    background-color: transparent;
    padding: 10px 20px;
    margin: 5px;
    border: red solid 2px;
    border-radius: 5%;
    cursor: pointer;
}

button:hover{
    background-color: red;
}

a{
    text-decoration: none;
    color: #fff;
}

.clear-div {
    clear: both;
}

hr {
    width: 100%;
    border: 3px solid black;
    border-bottom: none;
    margin-top: 20px;
}

.sub-container {
    padding: 20px;
}

.left-div {
    width: 30%;
    float: left;
}

.right-div {
    width: 70%;
    float: right;
}

#cmn-hr {
    width: 100%;
    border: 1px solid black;
    border-bottom: none;
    margin-top: 20px;
}

.left-side-div {
    float: left;
    width: 45%;
}
.right-side-div {
    float: right;
    width: 45%;
}

.left-side-div a {
    color: black;
}

.left-side-div a:hover {
    color: red;
}

.for-padding .left-side-div {
    padding: 10px;
}

.for-three-divs .left-side-div {
    float: left;
    width: 30%;
}

.for-three-divs .middle-side-div {
    float: left;
    width: 30%;
}

.for-three-divs .right-side-div {
    float: right;
    width: 30%;
}

footer {
    padding: 20px 0;
    background: #000;
    text-align: center;
}

footer button {
    border-color: white;
}

footer button:hover {
    background-color: #000;
}

footer p {
    padding-top: 20px;
    color: white;
}

h1, h3 {
    font-variant: small-caps
}

h1{
    color: red;
}

h3{
    padding: 5px 0;
    color: darkred;
}
